ftp.tku.edu.tw.                163.13.240.201  ftp.cpan ftp.cpan.tw ftp.cpan.asia       
cpan.etla.org.                 193.201.200.224 ftp.cpan ftp.cpan.uk ftp.cpan.europe     
ftp.demon.co.uk.               194.159.255.135 ftp.cpan ftp.cpan.uk ftp.cpan.europe     
ftp.flirble.org.               212.134.1.32    ftp.cpan ftp.cpan.uk ftp.cpan.europe     
mirror.datapipe.net.           64.27.65.115    ftp.cpan ftp.cpan.us ftp.cpan.north-america
mirrors.kernel.org.            204.152.191.39  ftp.cpan ftp.cpan.us ftp.cpan.north-america
cpan-du.viaverio.com.          199.239.233.95  ftp.cpan ftp.cpan.us ftp.cpan.north-america
