ftp.tku.edu.tw.                163.13.240.201  ftp.cpan ftp.tw.cpan ftp.asia.cpan       
cpan.etla.org.                 212.13.199.135  ftp.cpan ftp.uk.cpan ftp.europe.cpan     
ftp.demon.co.uk.               194.159.255.135 ftp.cpan ftp.uk.cpan ftp.europe.cpan     
mirrors.kernel.org.            204.152.189.120 ftp.cpan ftp.us.cpan ftp.north-america.cpan
cpan.digisle.net.              216.182.78.14   ftp.cpan ftp.us.cpan ftp.north-america.cpan
cpan-du.viaverio.com.          199.239.233.95  ftp.cpan ftp.us.cpan ftp.north-america.cpan
